<ion-content color="amarelo" class="ion-padding ion-text-center" [fullscreen]="true">

  <div class="imgLogo">
    <img src="../assets/img/logoChamaai.png" alt="Logo do Aplicativo">
  </div>

  <div class="loginTitleButton">
    <div class="title">
      <h2>Bem vindo</h2>
      <p>Utilize uma forma de login Segura!</p>
    </div>

    <div class="ion-margin-top">
      <ion-button expand="block" class="ion-margin-top" (click)="openRegisterModal()" fill="outline" color="preto">
        Cadastre-se</ion-button>

      <ion-button expand="block" class="ion-margin-top" (click)="openModal()" color="dark">Login<ion-icon
          class="loginIcons" slot="end" name="person"></ion-icon>
      </ion-button>
      <app-explore-container></app-explore-container>
      <app-login-facebook></app-login-facebook>
    </div>
  </div>
</ion-content>