@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Roboto+Condensed:wght@400;700&display=swap');


.imgLogo {
  display: flex;
  width: 16rem;
  margin: -.5rem auto 2rem auto;
}

img {
  width: 100%;
}

ion-button{
  margin-bottom: -.5rem;
  width: 18rem;
  height: 2.7rem;
  --border-radius: .5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.loginTitleButton{
  margin-top: -2.5rem;
}

h2{
  font-size: 2rem;
  font-weight: 300;
  text-transform: none;
}
