<app-menus></app-menus>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="amarelo">
      <ion-buttons slot="start">
        <ion-menu-button color="branco"></ion-menu-button>
      </ion-buttons>
      <ion-title>Historico</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="amareloclaro">

    <ion-card color="amareloclaro">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="./assets/img/motoboy.png" />
              <ion-card-subtitle>Emanuel</ion-card-subtitle>
            </ion-col>

            <ion-col class="ion-text-center">
              <p>Data<br />
                Hora<br />
                Endereço<br />
                Saída/Chegada</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>